 body{
      background-image:url(background.jpg);
      font-family: "Josefin Slab",serif;
       margin: 0px;
       
}
}
}
        
      }
      
      #call{
            
            color: #6353f9;
            text-align:center;
            margin:0px auto;

      }
      .feeds{
       background:lightGrey;
       border:2px solid #3c4c54;
       text-align: center;
       margin:0px auto;
       margin-bottom:20px;
       margin-top:20px;
       width:800px;
       
      }
      .twitterc{
       margin:0 auto;
       margin-left:0px; 
       margin-right:0px;
      }
      .instagram{
       margin-bottom:20px;
       margin-top:20px;
      }
      
   
      footer{
            background:lightGrey;
            border:2px solid #3c4c54;
            color:white;
            font-weight:bold;
            
            margin-top:20px;
            margin-left:20px; 
            margin-right:20px;
            margin-bottom:0px;
            text-align:center;
      }
       h1,h3{
      font-family: 'Pacifico', cursive;
       color:#48b3b4;
     }
     h2{
      font-family: 'Pacifico', cursive;
       color:#48b3b4;
       font-size:45px;
       margin:0 auto;
       margin-top:0px;
       margin-left:auto; 
       margin-right:auto;
     }
     form{
           text-align:center;
     }
   
      header{
            text-align:center;
      }
     
      nav{
      height:40px;
      width:700px;
      margin:0px auto;
      padding:0;
   
    }
      nav ul{
      list-style:none;
      margin:0 auto;
      width:1000px;
    }
      nav ul li a{
      color:#6353f9;
      display:block;
      float:left;
      margin:0 auto;
      padding:10px 20px;
      text-decoration:none;
     }
     
      nav ul li a:hover{
       color:#ff9c00;
       }
#home{
    background:#f2c249;
    border-radius:5px;
    box-shadow:0 0px 2px rgba(0,0,0,.5),
        1px 1px 1px rgba(0,0,0,.3);
    color:white;
    font-weight: bold;
    line-height:15px;
    margin: 0px auto;
    padding:auto;
    text-align: center;
    width: 80px;
    }
#about{
    background:#e6772e;
    border-radius:5px;
    box-shadow:0 0px 2px rgba(0,0,0,.5),
        1px 1px 1px rgba(0,0,0,.3);
    color:white;
    font-weight: bold;
    line-height:15px;
    margin: 0px auto;
     padding:auto;
    text-align: center;
    width: 80px;
    }
#resume{
    background:#4db3b3;
    border-radius:5px;
    box-shadow:0 0px 2px rgba(0,0,0,.5),
        1px 1px 1px rgba(0,0,0,.3);
    color:white;
    font-weight: bold;
    line-height:15px;
    text-align: center;
    width: 80px;
    }
#gallery{
    background:#e64a45;
    border-radius:5px;
    box-shadow:0 0px 2px rgba(0,0,0,.5),
        1px 1px 1px rgba(0,0,0,.3);
    color:white;
    font-weight: bold;
    line-height:15px;
    text-align: center;
    width: 80px;
    }
#contact{
    background:#3d4c53;
    border-radius:5px;
    box-shadow:0 0px 2px rgba(0,0,0,.5),
        1px 1px 1px rgba(0,0,0,.3);
    color:white;
    font-weight: bold;
    line-height:15px;
    text-align: center;
    width: 80px;
    }

#home:hover{
    background: #3d4c53;
    
    
}
#about:hover{
    background: #e64a45;
}
#resume:hover{
    background: #f2c249;
}

#gallery:hover{
    background: #e6772e;
}
#contact:hover{
    background: #4db3b3;
}


      #aboutME a{
            margin:0 auto;
            text-align:center;
            font-family: 'Pacific', cursive;
      }
      #paragraphMe{
            text-align:center;
            margin:0 20px;
            font-family: 'Josefin Slab', serif;
            font-weight:bold;
            color: white;
      }
      #picture{
            text-align:center;
      }
      section h1{
          
            text-align:center
            
      }
     #contactME{
            
            margin:20px 20px;
            padding:0 20px;
            background-color:lightGrey;
            border:2px solid #3c4c54;
            font-weight:bold;
            width: 400px;
            margin-left:auto;
            margin-right:auto;
            opacity:0.8px;
            text-align: center;
            color:white;
         
      }
      #logo{
       display:block;
       margin:0 auto;
       margin-bottom:0px;
       margin-left:auto; 
       margin-right:auto;
       
      }
       
      caption {
    border: 2px solid #fd9e00;
    font-weight:bold;
    text-transform:uppercase;  
    background-color:#6253f8;
    color:#feef00;
    font-family: 'Josefin Slab', serif;
    }
    table {
      width: 600px;
      border: 2px solid #fd9e00;
      background-color:#feef00;
      margin:20px;
      color:#6253f8;
      font-family: 'Josefin Slab', serif;
      text-align: left
    }
      #resume{
      text-align: center
      }
      
table.center {
    margin-left:auto; 
    margin-right:auto;
  }
.teaser{
      
      border:2px solid #3c4c54 ;
      background:lightGrey;
      color:#ff9a00;
      font-family: 'Pacifico', cursive;
      ;
      text-align:center;
      margin:20px 20px;
      
      
}
.noopacity{
    opacity:100;
}
iframe{
      
      height:600px;
      width:500px;
      margin:0 auto;
      margin-left:auto; 
      margin-right:auto;
      margin-bottom:20px;
      display:block;
}
.pdf{
    background:lightGrey;
    border:2px solid #3c4c54;
    margin-bottom:20px;
    margin-left:auto; 
    margin-right:auto;
    margin-top:20px;
    width:700px;
    
    
}
