      body{
      
      background: rgba(0, 0, 0, 0.06) linear-gradient(90deg, rgba(254, 188, 98, 0.65) 10%, rgba(254, 239, 0, 0.22) 90%) repeat scroll 0% 0%;
      font-family: "Josefin Slab",serif;
      margin: 0px;
}
}
        
      }
      
      #callInfo{
            
            color: #6353f9;
            text-align:center;

      }
      footer{
            text-align=center;
      }
       h1,h2{
      font-family: 'Pacifico', cursive;
       color:#ff9a00;
     }
     form{
           text-align:center;
     }
   
      header{
            text-align:center;
      }
      label{
            color:#6353f9;
      }
     
      nav{
      height:40px;
      background-color:#fff000;
      margin:20px 20px;
      margin-top:20px;
      padding:0;
      border:2px solid #fd9e00 ;
    }
      nav ul{
      list-style:none;
      margin:0 auto;
      width:500px;
    }
      nav ul li a{
      color:#6353f9;
      display:block;
      float:left;
      padding:10px 20px;
      text-decoration:none;
     }
     
      nav ul li a:hover{
       color:#ff9c00;
       }
      #aboutME a{
            margin:0 auto;
            text-align:center;
            font-family: 'Pacific', cursive;
      }
      #paragraphMe{
            text-align:center;
            margin:0 20px;
            font-family: 'Josefin Slab', serif;
            color: #6353f9;
      }
      #picture{
            text-align:center;
      }
      section h1{
          
            text-align:center
            
      }
      section{
            
            margin:20px 20px;
            padding:0 20px;
            background-color:#feef00;
            border:2px solid #fd9e00;
      }
       
      caption {
    border: 2px solid #fd9e00;
    font-weight:bold;
    text-transform:uppercase;  
    background-color:#6253f8;
    color:#feef00;
    font-family: 'Josefin Slab', serif;
    }
    table {
      width: 600px;
      border: 2px solid #fd9e00;
      background-color:#feef00;
      margin:20px;
      color:#6253f8;
      font-family: 'Josefin Slab', serif;
      text-align: left
    }
      #resume{
      text-align: center
      }
      
table.center {
    margin-left:auto; 
    margin-right:auto;
  }
.teaser{
      background-color:#fff000;
      border:2px solid #fd9e00 ;
      color:#ff9a00;
      font-family: 'Pacifico', cursive;
      text-align:center;
      margin:20px 20px;
      
      
}
