      body{
        background-color:#ebe9f8;
        font-family: 'Josefin Slab', serif;
        margin:0;
        
      }
      
      #callInfo{
            
            color: #6353f9;
            text-align:center;

      }
      footer{
            text-align=center;
      }
       h1,h2{
      font-family: 'Pacifico', cursive;
       color:#ff9a00;
     }
     form{
           text-align:center;
     }
   
      header{
            text-align:center;
      }
      label{
            color:#6353f9;
      }
     #logo{
           text-align:center;
           width:400px;
     }
      nav{
      height:40px;
      background-color:#fff000;
      margin:0;
      margin-top:20px;
      padding:0;
      border:2px solid #fd9e00;
    }
      nav ul{
      list-style:none;
      margin:0 auto;
      width:400px;
    }
      nav ul li a{
      color:#6353f9;
      display:block;
      float:left;
      padding:10px 20px;
      text-decoration:none;
     }
     
      nav ul li a:hover{
       color:#ff9c00;
       }
      #aboutME a{
            margin:0 auto;
            text-align:center;
            font-family: 'Pacific', cursive;
      }
      #paragraphMe{
            text-align: center;
            margin:0 20px;
            font-family: 'Josefin Slab', serif;
            color: #6353f9;
      }
      #picture{
            text-align: center;
      }
      section h1{
          
            text-align:center
            
      }
      section{
            
            margin:20px auto;
            padding:0 20px;
      }
       
      caption {
    border: 2px solid #fd9e00;
    font-weight:bold;
    text-transform:uppercase;  
    background-color:#feef00;
    color:#fd9e00;
    font-family: 'Josefin Slab', serif;
    }
    table {
      width: 600px;
      border: 2px solid #fd9e00;
      background-color:#feef00;
      margin:20px;
      color:#6253f8;
      font-family: 'Josefin Slab', serif;
      align-content:center;
    }
      #resume{
      text-align: center
      }
      
table.center {
    margin-left:auto; 
    margin-right:auto;
  }
