      body{
        background-color:#d7d3f6;
        font-family: 'Indie Flower', cursive;
        margin:0;
        
      }
       h1,h2{
      font-family: 'Lobster', cursive;
       color:#ff9a00;
     }
   
      header{
            text-align:center;
      }
     
      nav{
      height:40px;
      background:#fff000;
      margin:0;
      margin-top:20px;
      padding:0;
    }
      nav ul{
      list-style:none;
      margin:0 auto;
      width:600px;
    }
      nav ul li a{
      color:#6353f9;
      display:block;
      float:left;
      padding:10px 20px;
      text-decoration:none;
     }
     
      nav ul li a:hover{
       color:#ff9c00;
       }
      
